.container-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 347px;
}

.title {
  color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 80px;
}

.container-login p {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.inputs {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 122px;
  margin-top: 36px;
  width: 347px;
}

.inputs input {
  background-color: #224957;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  height: 45px;
  width: 300px;
}

.options input {
  border-radius: 5px;
  margin-right: 6px;
}

input:nth-child( 2 ) {
  border-bottom: 3px solid hsla(0, 0%, 0%, 0.507);
}

input:focus {
  outline: none;
}

.inputs input:nth-child( 2 ) {
  margin-top: 32px;
}

input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 10px;
}

button {
  background-color: #20df7f;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 45px;
  line-height: 20px;
  text-align: center;
  width: 300px;
}

button:hover {
  transform: scale(1.1);
}

.options {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  width: 300px;
}

.options label {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.options a {
  color: #20df7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
